@import '../../assets/style/settings';


.test-wrapper{
    background-color: $bg_color;
    width: 100%;
    height: 100vh;
    padding: 20px;
    .test-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
